.categoriesItemsBox {
  width: 350px;
  height: 449px;

  margin-left: 20px;
  background: #e5e6e6;
}
.categoriesItemName {
  width: 215px;
  height: 80px;

  margin-top: 50px;
  margin-left: 31px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #282828;
}
.categoriesItemButton {
  width: 119px;
  height: 43px;

  margin-top: 16px;
  margin-left: 31px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  border: 0.6px solid #000000;
}
