.footer {
  width: 1440px;
  height: 49px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footerSvgBox {
  width: 130px;
  height: 17.89px;
  display: flex;
}
.footerTitle {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
}
