.productBox {
  width: 1110px;
  height: 862px;

  padding: 0px;
  margin-left: 165px;

  display: flex;
  flex-wrap: wrap;
}
.productName {
  font-size: 42px;
  line-height: 60px;
  height: 62px;
  width: 1110px;
}
.boxTitle {
  width: 1110px;
  height: 18px;
}
.productItemBox {
  width: 1100px;
  height: 862px;

  display: flex;
  flex-wrap: wrap;
}
.blockTitle {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 60px;

  color: #9a6437;
}
.productTitle {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 60px;

  color: #1b1a1a;
}
