.productBox {
  width: 1110px;
  height: 862px;

  padding: 0px;
  margin-left: 165px;

  display: flex;
  flex-wrap: wrap;
}
.productTitle {
  font-size: 42px;
  line-height: 60px;
  height: 62px;
  width: 1110px;
}
.boxTitle {
  width: 1110px;
}
.productItemBox {
  width: 1100px;
  height: 862px;

  display: flex;
  flex-wrap: wrap;
}
